<div class="login-container">

  <div class="left-section">

    <div class="content">

      <span class="badge">
        ⭐ #1 Real Estate Management
      </span>

      <h1>
        Find Your <br>
        Dream Property
      </h1>

      <p>
        Manage Properties, Clients & Deals Easily
      </p>

      <div class="features">

        <div class="feature-card">
          <i class="fas fa-home"></i>
          <h4>Smart Management</h4>
          <span>Manage all properties</span>
        </div>

        <div class="feature-card">
          <i class="fas fa-users"></i>
          <h4>Happy Clients</h4>
          <span>Build relationships</span>
        </div>

        <div class="feature-card">
          <i class="fas fa-chart-bar"></i>
          <h4>Analytics</h4>
          <span>Real Insights</span>
        </div>

      </div>

    </div>

  </div>

  <div class="right-section">

    <div class="login-card">

      <img src="assets/logo.png" class="logo">

      <h2>Welcome Back</h2>

      <p class="subtitle">
        Sign in to continue
      </p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="input-group">
          <input
            type="email"
            placeholder="Email Address"
            formControlName="email">
        </div>

        <small
          *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          Enter a valid email.
        </small>

        <div class="input-group">
          <input
            type="password"
            placeholder="Password"
            formControlName="password">
        </div>

        <small
          *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Password is required.
        </small>

        <div class="options">

          <label>
            <input
              type="checkbox"
              formControlName="rememberMe">
            Remember Me
          </label>

          <a href="#">Forgot Password?</a>

        </div>

        <button
          class="login-btn"
          type="submit"
          [disabled]="loginForm.invalid">
          Sign In →
        </button>

      </form>

      <div class="divider">
        OR
      </div>

      <div class="social-login">
        <button type="button">G</button>
        <button type="button">f</button>
        <button type="button">⊞</button>
      </div>

    </div>

  </div>

</div>s